@import '~harmonium/scss/app';


/**
* The input_group_field helper produces slightly different markup
* from the React component FieldGroup.Field. These styles can be
* used to make the appropriate adjustments
*/
.rev-InputGroup-fieldWrapper{
  width: 100%;

  input, select, textarea {
    @include input-style;
    border-radius: 0;
    &:first-child {
      border-bottom-left-radius: $input-radius;
      border-top-left-radius: $input-radius;
    }
    &:last-child {
      border-bottom-right-radius: $input-radius;
      border-top-right-radius: $input-radius;
    }
  }

  input {
    @extend .rev-Input;
  }
  select {
    @extend .rev-Select;
  }
  textarea {
    @extend .rev-Textarea;
  }
}
